<form>
<p>User Account - test: <%=p.step_count%></p>
    <p>Cardio Score: <%=p.cardio_score%></p>
    <p>Caloric Burn: <%=p.caloric_burn%></p>
    <p>Walking Distance: <%=p.walking_distance%></p>
    </form>