<h2>Welcome to Bragger! Where it is okay to Brag!</h2>
<br>
<br>
    
<form action="/signup"  method="POST">
    <input type="text" name="username" placeholder="Username:">
    <input type="text" name="email" placeholder="Email Address:">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="submit">
</form>