<h2>Be Braggadocious! <i><small>Tell us what you accomplished today!</i></small></h2>
<p>Add your new post below:</p>
<form action="/posts" method="POST">
  <p>Name: <input type="text" name="name"></p>  
  <p>Image URL: <input type="text" name="image_url"><i> Upload a picture.</i></p>
  <p>Step Count: <input type="text" name="step_count"><i> Steps</i></p>
  <p>Cardio Score: <input type="text" name="cardio_score"><i> Calories</i></p>
  <p>Caloric Burn: <input type="text" name="caloric_burn"><i> Calories/Hour</i></p>
  <p>Walking Distance: <input type="text" name="walking_distance"><i> Miles</i></p>
  <p>Content: </p>
    <textarea name="content" value='content'rows="10" cols="30"></textarea>
    <br>
  <input type="submit" value="submit">
</form>